body, button, input, select, textarea {
    font-family: "Microsoft Yahei","Hiragino Sans GB","Helvetica Neue",Arial,sans-serif !important;
}

.dispalynone {
    display:none;
}

.cursor {
    cursor:pointer;
}
.nocursor {
    cursor:default;
}
a.nulinkunderline:hover {
    text-decoration:none;
}

.dropdown-menu {
  min-width: 0px;
}

.color-grey {
color:#A5ABB8;
}
.color-danger {
color:#d9534f;
}
dt, dd {
line-height: 1.7;
}
/* img gray */
img.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}
/********************************************** navbar-static-top.css **************************************/
.navbar-static-top {
    margin-bottom: 0px;
}

.navbar-brand-logo {
    padding: 5px 20px 0 0;
}

#navbar > .navbar-form-input {
    padding-top: 3px;
    margin-right: 5px;
}
/********************************************** end navbar-static-top.css **************************************/

/********************************************** carousel **************************************/
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    /* padding-bottom: 40px; */
    color: #5a5a5a;
    background-color:#fbfbfb;
}

.mtmb15 {
    margin: 15px 0;
}

.mt5mb15 {
    margin: 5px 0 15px 0;
}
div.mtb15 {
    margin-top:15px;
    margin-bottom:15px;
}
button.plr30 {
padding-left:30px;
padding-right:30px;
}
.mt15 {
margin-top:15px;
}

.mb5 {
margin-bottom:5px;
}

.pl15 {
    padding-left:15px;
}
.pl10 {
padding-left:10px;
}
.pt10 {
    padding-top:10px;
}
.ptb5 {
    padding-top:3px;
    padding-bottom:3px;
}
.pt3 {
    padding-top:3px;
}
 
div.mt0, p.mt0, h3.mt0,hr.mt0 {
    margin-top: 0px;
}
div.mb0, p.mb0, h3.mb0,hr.mb0 {
    margin-bottom: 0px;
}
div.mp0, p.mp0, h3.mp0,hr.mp0 {
    margin: 0px;
    padding: 0px;
}
.fz10 {
    font-size:10px;
    font-weight:normal;
}
.fz12 {
    font-size:12px;
    font-weight:normal;
}
.fz14 {
    font-size:14px;
    font-weight:normal;
}
.fz16,span.fz16,label.fz16 {
    font-size:16px;
    font-weight:normal;
}
.fz28,span.fz28,label.fz28 {
    font-size:28px;
    font-weight:normal;
}
div.minheight30,p.minheight30 {
    min-height:30px;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

    /* Flip around the padding for proper display in narrow viewports */
    .navbar-wrapper > .container {
        padding-right: 0;
        padding-left: 0;
    }

    .navbar-wrapper .navbar {
        padding-right: 15px;
        padding-left: 15px;
    }

        .navbar-wrapper .navbar .container {
            width: auto;
        }


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    height: 420px;
    /*margin-bottom: 60px; */
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 420px;
    background-color: #777;
}

.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 420px;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}

.marketing h2 {
    font-weight: normal;
}

.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 20px;
    }

        .navbar-wrapper .container {
            padding-right: 15px;
            padding-left: 15px;
        }

        .navbar-wrapper .navbar {
            padding-right: 0;
            padding-left: 0;
        }

        /* The navbar becomes detached from the top, so we round the corners */
        .navbar-wrapper .navbar {
            border-radius: 4px;
        }

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 120px;
    }
}
/**********************************************end carousel **************************************/

/* ------------------------------  scrollUp ---------------------------------- */

#scrollUp {
    background-color: #777;
    color: #eee;
    font-size: 20px;
    line-height: 46px;
    text-align: center;
    text-decoration: none;
    bottom: 20px;
    right: 20px;
    overflow: hidden;
    width: 46px;
    height: 46px;
    border: none;
    padding-left:2px;
    opacity: .8;
}

    #scrollUp:hover {
        background-color: #333;
    }

@media screen and (min-width:992px) {
    #scrollUp {
        bottom: 100px;
    }
}


/* ren-dropdown-toggle-user  */
.nav>.dropdown> .ren-dropdown-toggle-user {
    padding:11px 8px;
}
 

span.ren-info-msg-bell-badge {
position: absolute; top: 10px; left: 28px; height: 18px; min-width: 20px; padding: 0 3px; border-radius: 8px; background: #e62828; text-align: center; line-height: 17px; color: white; font-size: 11px; z-index:99
}

/* tab css */
.tabbable > .nav > li {
    padding:0;
}
.tabbable > .nav>li > a {
    margin-right:0;
    border-radius:0;
    border: 0;
    border-right: 1px solid #dddddd;
}
.tabbable > .nav>li > a:hover {
    border: 0;
    margin-bottom:0px;
    border-right: 1px solid #dddddd;
}

/* ren-dropdown-menu icon */
.ren-dropdown-menu i {
    color:#CACED5;
}
.text-overflow{
width:48px;
overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
white-space:nowrap;/* 不换行 */
}
.bg-color-v {
    color:green;
}